/backup
/Beslutningstræ - skitse 7-4-2025.docx
/Data
/Groundwater_Analysis_Technical_Documentation.md
/Groundwater_Analysis_Technical_Guide.md
/Møder
/Notat gvfk trin.docx
/notat.docx
/Præsentationer
/Resultater